.months-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.month-col {
    flex: 1 0 25%;
    text-align: center;
}
.month-col__inner {
    border: 1px solid #b7b3b3;
    background-color: #f9f5f5;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0.25em;
    cursor: pointer;
}
.month-col__inner:hover {
    background-color: #fff;
}
.month-col__inner--selected {
    background-color: #e2e2e2;
}