<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="navbar-brand">ngx-month-year-selector</div>
  <div class="d-inline ml-auto">
    <a href="https://github.com/crankedapps/ngx-month-year-selector" class="btn btn-outline-success">GitHub</a>
  </div>
</nav>

<main role="main" class="container">
  <div class="mb-4">
    Month & year selector form control for Angular 6+ with support for ngModel binding, Reactive Forms, and Events.
    ngx-month-year-selector is independent from any UI frameworks (however should be compatible in any UI framework
    like Bootstrap, Angular Material, etc).
  </div>
  <div class="mb-4">
    <h3>Reactive Form</h3>
    <app-demonav assetHtml="./assets/demodata/reactive/html.txt" assetTs="./assets/demodata/reactive/ts.txt">
      <app-reactiveformdemo></app-reactiveformdemo>
    </app-demonav>
  </div>
  <div class="mb-4">
    <h3>ngModel binding:</h3>
    <app-demonav assetHtml="./assets/demodata/ngmodel/html.txt" assetTs="./assets/demodata/ngmodel/ts.txt">
      <app-modeldemo></app-modeldemo>
    </app-demonav>
  </div>
  <div class="mb-4">
    <h3>Event Emitter</h3>
    <app-demonav assetHtml="./assets/demodata/event/html.txt" assetTs="./assets/demodata/event/ts.txt">
      <app-eventdemo></app-eventdemo>
    </app-demonav>
  </div>
  <div class="text-center font-italic" style="margin: 2rem 0;">
    Powered by <a href="https://github.com/crankedapps/ngx-month-year-selector" target="_blank">ngx-month-year-selector</a>.
  </div>
</main>