<div style="margin-bottom: 1rem;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div style="margin-bottom: 1rem;">
        <div style="display: inline-block; font-weight: bold; margin-right: 0.5rem;">ngModel binding:</div>
        <app-monthyearselector [(ngModel)]="dataModel" [options]="options" (change)="onChange($event)"></app-monthyearselector> {{ dataModel | json }}
</div>
<div style="margin-bottom: 1rem;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div>
        <div style="margin-bottom: 1rem;"><b>Reactive Form</b></div>
        <div style="margin-bottom: 1rem;">
                <form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">
                        <div><input placeholder="Name" formControlName="name" name="name"></div>
                        <div style="color: red;" *ngIf="!sampleForm.controls['name'].valid && sampleForm.controls['name'].errors.minlength" i18n>
                                Minimum length of 2 characters
                        </div>
                        <div><app-monthyearselector placeholder="Enter date" [options]="options" (change)="onChange($event)" formControlName="monthyear"></app-monthyearselector></div>
                        <div>
                                <div>
                                        <input type="checkbox" formControlName="maxEnabled" name="maxEnabled" id="maxEnabled"> 
                                        <label for="maxEnabled">Max: <input type="number" style="width: 100px;" formControlName="max" name="max"></label>
                                </div>
                        </div>
                        <div><button type="submit" [disabled]="!sampleForm.valid">Submit</button></div>
                </form>
        </div>
        <div>
                <div style="font-weight: bold;">Form State:</div>
                <div>Valid: {{ sampleForm.valid }}</div>
                <div>Value: {{ sampleForm.value | json }}</div>
        </div>
</div>